{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>JDRF MBIC Home</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'bootstrap/css/cover.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/cover.css' %}"> 

  </head>
  <body style="background-color: #000">
    <div class="site-wrapper" style="background: url('{% static 'img/hutlab_jdrf_logo_plus_border.png' %}') no-repeat center">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="team">Team</a></li>
                  <li><a href="about">About</a></li>
                  <li><a href="protocols">Protocols</a></li>
                  <li><a href="contact">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="inner cover">
           <p></p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
