{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>JDRF MBIC Protocols</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap/css/jumbotron.css' %}" rel="stylesheet">

    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/jdrf.css' %}" rel="stylesheet">
  </head>

   <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="color: #e3ede4" href="/">JDRF MBIC</a>
        </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/team">Team</a></li>
              <li><a href="/about">About</a></li>
              <li class="active"><a href="/protocols">Protocols</a></li>
              <li><a href="/contact">Contact</a></li>
              </li>
            </ul>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Username" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success" style="background: #11511b" disabled>Log in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container" style="background: url('{% static 'img/large_figure.png' %}') no-repeat center">
        <img src="{% static 'img/hutlab_jdrf_logo_small_border.png' %}" heigh=100 width=125>
      </div>
    </div>

    <div class="container">
      <h2>Protocols</h2>
      <p>Shared protocols used by, or developed by the JDRF consortium will be provided here as they become available.</p>

      <div id="accordion" class="panel-group">
      	{% for protocol in protocols %}
			<div class="panel panel-default">
			  <div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ forloop.counter }}">{{ protocol.name }}</a>
				</h4>
			  </div>
              <div id="collapse_{{ forloop.counter }}" class="panel-collapse collapse">
			    <div class="panel-body">
                  {% for protocol_doc in protocols.files.all %}
                    <h5><i class="fa fa-file-pdf-o" aria-hidden="true"></i><a class="protocol-doc" href="{{ protocol_doc.url }}">{{ protocol_doc.name }}</a></h5>
                    <p>{{ protocol_doc.description }}</p>
                  {% endfor %}
				</div>
			  </div>
			</div>
        {% endfor %}
	  </div> <!-- /accordion -->

      <hr>
    </div> <!-- /container -->

    <!-- Javascript includes -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}></script>
  </body>
</html>
